extends layout

block content
	.container
		h1.mt-5 Главная страница
		p
		a(href='/listBrands') Список марок
		p
		a(href='/listModels') Список моделей
		p
		a(href='/listModifications') Список модификаций
		p
		a(href='/listBase') Список машин
		p
		a(href='/listCurators') Список пользователей
		p
		a(href='/listProperties') Список дополнительных характеристик
		p
		a(href='/register') Регистрация
		p
		a(href='/listParsers') Добавить парсер
		p
		a(href='/reports') Отчеты
