extends layout
block variables
  include variables
block content
    br
    .container
      h1.mt-5 Список марок
      form(action='/addBrand', method='post')
        div(class="form-row")
          div(class="col-lg-6 col-md-6 col-sm-6 col-xs-7 mb-3")
            input(name='name', class="form-control" type="text" placeholder='Название марки' required)
          div(class="col-lg-6 col-md-6 col-sm-6 col-xs-7 ")
            input(class="btn btn-success" type='submit', value='Добавить')
      br
      ul(class="list-group")
      each val in result
        li(class="list-group-item serviceList" id = val.id ) #{val.name}
          i(class="caret fa fa-caret-down")
        div(class="slide")
          br
          a(class="btn btn-dark" href='/brand/' + val.id role="button") Изменить
          font()=" "
          a(class="btn btn-danger" href='/delBrand/' + val.id role="button") Удалить
          p
